{% extends 'base.html' %}
{% block title %}New Tag{% endblock %}

{% block content %}
<h1>New Tag</h1>

<form action='/tags/new' method="POST">

<div class="row">
    <label for="title" class="col">Name</label>
    <div>
        <input type="text" id="name" name="name" placeholder="Tag name">
    </div>
</div>

<div class="row">
    {% for post in posts %}
    <div>
        <input type="checkbox" value="{{post.id}}" id="post_{{post.id}}" name="posts">
        <label for="post_{{ post.id }}">
            {{post.title}}
        </label>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div>
        <a href="/tags" class="btn">Cancel</a>
        <button type="submit" class="btn">Add</button>
    </div>
</div>

</form>
{% endblock %}