{% extends 'base.html' %}
{% block title %}New Post{% endblock %}

{% block content %}
<h1>New Post</h1>
<form method="POST">

<div class="row">
    <label for="title" class="col">Title</label>
    <div>
        <input type="text" id="title" name="title">
    </div>
</div>

<div class="row">
    <label for="content" class="col"></label>
    <div>
        <textarea name="" id="content" name="content"></textarea>
    </div>
</div>

<div class="row">
    <div>
        <a href="/users/{{user.id}}" class="btn">Cancel</a>
        <button type="submit" class="btn">Add</button>
    </div>
</div>

</form>
{% endblock %}